@import "tailwindcss";

.font-poppins {
    font-family: "Poppins", sans-serif;
}

*{
    font-family: "Poppins", sans-serif;
}

.font-mono {
    font-family: "Space Mono", monospace;
}

.font-worksans{
    font-family: "Work Sans", sans-serif;
}

.font-clash{
    font-family: "Clash Display", sans-serif;
}

.text-primary{
    color: #FC8A06;
}
.text-secondary{
    color: #03081F;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}